name: lens_can_talk
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  firebase_core: ^2.24.2
  
  firebase_auth: ^4.15.3
  
  cloud_firestore: ^4.13.6
  
  google_sign_in: ^6.1.6
  
  provider: ^6.1.1
  
  shared_preferences: ^2.2.2
  
  camera: ^0.10.5+5
  
  image_picker: ^1.0.5
  
  google_mlkit_image_labeling: ^0.10.0
  
  flutter_tts: ^3.8.5
  
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true